# OS: macOS
.DS_Store
*.icloud

# IDE: VS Code
.vscode

# IDE: Visual Studio
.vs

# IDE: Rider
/.idea
/packages/
riderModule.iml
/_ReSharper.Caches/
*.user




# IDE: Xcode
xcuserdata


# Toolchain: .NET
bin
obj

# Toolchain: Swift
build
builds

